// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-settings-styles";

// # ------------ LAYER COMPONENTS ------------ # //
@layer components-entities {
	.entities-example {
		display: flex;

		align-items: center;
		justify-content: center;

		height: 200px;
		margin-bottom: 20px;

		color: var(--gray0);

		background: var(--blue800);

		font-size: var(--fs40);
		font-weight: 800;
	}
}
